[Desktop Entry]
Name=WPS Writer
Exec=/opt/wps-office/wps
StartupNotify=false
Terminal=false
Type=Application
Icon=/opt/wps-office/resource/icons/hicolor/256x256/apps/wps-office-wpsmain.png
