[Unit]
Description=SyphaxOS Installer Script
After=getty@tty2.service

[Service]
Type=oneshot
WorkingDirectory=/opt/SyphaxOS-Installer
ExecStart=/opt/SyphaxOS-Installer/SyphaxOS-installer.sh &
RemainAfterExit=yes
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
