[Desktop Entry]
Name=Firefox
Exec=/opt/firefox/firefox
StartupNotify=false
Terminal=false
Type=Application
Icon=/opt/firefox/browser/icons/mozicon128.png
